.secondPartBody {
  margin-top: 10rem;
}

.secondPartCategories {
  text-align: center;
}

.secondPartImages {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
