.wrap {
  padding-bottom: 30rem;
}

.return {
  display: flex;
  cursor: pointer;
  margin: 5rem 3rem;
}

.return p {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.whishlistName {
  text-align: center;
}

.whishlistName h1 {
  margin-bottom: 3rem;
}

.whishlistName hr {
  width: 95%;
  margin: 0 auto;
}

.img {
  width: 30rem;
  height: 40rem;
  /* margin: 2rem; */
}

.containerPreview {
  display: flex;
  justify-content: left;
  margin: 4rem;
}

.cardImageContainer {
  position: relative;
}

.savedHeartIcon {
  color: tomato;
}

.heartIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
}

.colElements {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.cardContainer {
  margin: 0 2rem;
}

.cardElements {
  text-align: left;
}
