.wrap {
  padding-bottom: 30rem;
}

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.productContainer {
  padding: 5rem 0;
}

.cardContainer {
  padding: 0 5rem 5rem 5rem;
}

.line {
  width: 100%;
  border: 1px solid #d7d6d1;
}

.lineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopContainer {
  padding: 0 7rem;
}

.selectedFilterContainer {
  margin: 0 1rem 4rem 1rem;
}
