.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.filterContainer {
  padding: 0 0 0 5rem;
}

.productContainer {
  padding: 5rem 0;
}

.cardContainer {
  padding: 0 5rem 5rem 5rem;
}

.line {
  width: 90%;
  padding: 0 2rem;
  border: 1px solid #d7d6d1;
}

.lineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
