button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.productPage {
  display: flex;
  gap: 2rem;
  padding: var(--spacing);
}

.imageSection {
  display: flex;
  gap: 2rem;
}

.mainImage {
  flex: 1;
  width: 100%;
  height: auto;
  width: 55rem;
}

.mainImage img {
  height: 62rem;
}

.imgRepo {
  display: flex;
  flex-direction: column;
}

.imgRepo img {
  height: 20rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.productDetails {
  flex: 1;
  flex-direction: column;
  margin-left: 10rem;
}

.esaurito {
  background-color: black;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}
.productDetails div {
  margin-bottom: 5rem;
}

.quantitySection {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
  position: relative;
  bottom: 0;
}

.quantitySpan {
  display: flex;
  gap: 1rem;
  width: 85%;
}

.quantitySpan span {
  right: 0;
  border: 0.1rem solid black;
  justify-content: space-between;
  display: flex;
  width: 35rem;
  margin-left: 5rem;
  padding: 0 2rem;
}

.quantityBtn {
  width: 77%;
  height: 5rem;
  margin-top: 5rem;
  background-color: black;
  color: white;
}

.customPrevArr {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #d7d6d1;
  font-size: 3rem;
  cursor: pointer;
}

.customNextArr {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #d7d6d1;
  font-size: 3rem;
  cursor: pointer;
}

.colorContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: min-content;
}

.colorContainer div {
  margin: 0;
}

.colorContainer p {
  margin-bottom: 0;
}

.colors {
  display: flex;
  justify-content: center;
}

.colors div {
  margin: 0;
}

.colors span {
  width: 14px;
  height: 14px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.eachColor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eachColor p {
  margin-top: 1rem;
}

.blue {
  background: #7ed6df;
}
.green {
  background: #badc58;
}
.yellow {
  background: #f9ca24;
}
.rose {
  background: #ff7979;
}

.active {
  content: "";
  width: 22px;
  height: 30px;
  border: 2px solid #8888;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}

.sizeContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: min-content;
}

.sizeContainer div {
  margin: 0;
}

.sizeContainer p {
  margin-bottom: 0;
}

.size {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.down {
  margin-top: 2rem;
  font-size: 1rem;
}
