.container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  left: 0;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.radio {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 2rem;
  border: 1px solid #ccc;
}


.shipping {
  position: relative;
  margin-top: 3rem;
}

.buttons {
  margin-top: 3rem;
}

.previousButton {
  position: absolute;
  left: 0;
}

.nextButton {
  position: absolute;
  /* 0 pixel on the right */
  right: 0;
}
