.gridContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 0 15rem;
  height: 20rem;
}

.btnContainer {
  text-align: center !important;
}

.btn {
  font-size: 2rem;
  width: 15rem;
}

.btn:focus {
  box-shadow: #ededed;
}

.cardImg {
  padding: 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 20%;
}

.cardImg:hover {
  width: 12rem;
  height: 12rem;
}
