.productCard {
  margin: 3rem 2rem;
}

.productImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 5px;
}

.removeBtn {
  color: red;
  cursor: pointer;
  font-size: large;
}

.rightColumn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px;
  padding-right: 3rem;
}

/* .rightColumn {
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
} */

.rightColumn {
  display: flex;
  margin-top: 10rem;
  align-items: flex-end; /* Align items at the top */
  justify-content: flex-end;
  height: 100%;
}

.quantityBtn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 5px;
  color: #d1cfcf;
}

.quantity {
  font-size: 2rem;
  margin: 0 3rem;
}

.rightContainer {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.quantityContainer {
  border: 1px solid #d1cfcf;
  border-radius: 5px;
  justify-content: center;
  width: 80%;
}

.priceContainer {
  align-items: flex-end;
}

.productPrice {
  display: flex;
  margin-left: auto;
  font-size: 2rem;
  font-weight: 600;
}

.bodyText {
  margin: 0 3rem;
}
