.card {
  border-color: transparent;
  --bs-card-inner-border-radius: none;
}

.btn {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 0;
}

.view {
  border-color: black;
}

.add {
  color: white;
  background-color: black;
  border-color: black;
}

.addText {
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden;
}

.add:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.view:hover {
  border-color: black;
}
