.cardSavedItems {
  width: 30rem;
  height: 20rem;
  border: 0.1rem solid #d7d6d1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}

.containerImage {
  margin-top: 3rem;
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
}

.containerPreview {
  width: 9rem;
  height: 5rem;
  border: 0.1rem solid #f0efeb;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 1rem;
  background-color: #f0efeb;
}

.textWhishlist {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.containerButton {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-content: right;
}

.close {
  top: 10px;
  right: 10px;
  cursor: pointer;
}