.wrap {
  padding-bottom: 30rem;
}

.cartContainer {
  width: 100%;
}

.cartProduct {
  background-color: white;
  margin-top: 3rem;
  margin-left: 5rem;
  padding: 3rem 5rem;
}

.cartProductItems {
  background-color: white;
  margin-left: 5rem;
  margin-top: 3rem;
}

.cartTitle {
  /* font-size: 2rem; */
  font-weight: 600;
  margin-top: 3rem;
  margin-left: 2rem;
}

.cartTotal {
  background-color: white;
  margin: 3rem 5rem;
  padding: 3rem 5rem;
  width: 100%;
}

.cartElements {
  margin-left: none;
}

.checkoutButton {
  width: 100%;
  height: 5rem;
  margin-top: 3rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.stickyRightSection {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.stickyRightSection .cartTotal {
  position: sticky;
  top: 0;
  background-color: white;
}

.lastContainer {
  margin-bottom: 3rem;
}

.shadow {
  box-shadow: 0 2px 4px rgba(155, 155, 155, 0.2); /* Adjust the values as per your requirement */
}

.totalContent {
  text-align: left;
}

.subtotal {
  text-align: left;
  font-weight: 400;
  font-size: 2rem;
}

.subtotalContent {
  text-align: right;
  font-weight: 400;
  font-size: 2rem;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  text-align: center;
  align-items: center;
}

.emptyCartButton {
  width: 30%;
  height: 5rem;
  margin-top: 3rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.emptyCartImage {
  margin-top: 3rem;
  width: 100px;
  height: 100px;
}

.relatedProducts {
  margin-top: 20rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}
