:root {
  --color-background: #ffff;
  --color-text: black;

  --spacing: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* this is to standardize the font size across browsers */
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
}

.footer {
  flex-shrink: 0;
}
