/* Navbar: when page is clicked, NavLink add a classNmae: "active" to current page */
.active {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.card-button-footer {
  border-radius: 0px;
}
/* .btn-outline-primary {
  color: #4ace8c;
  border-color: #4ace8c; /*set the color you want here} 
*/
.btn-outline-primary:hover {
  color: #fff;
  background-color: #4ace8c;
  border-color: #4ace8c; /*set the color you want here*/
}

.hoverable:hover {
  /* border-right: 5px solid #a9b4c3db;
  border-bottom: 5px solid #a9b4c3db; */
  box-shadow: 9px 9px 5px lightblue;
  border-radius: 12px;
}
